
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$blue-palette,
      //serve per cambiare il colore (in questo caso del header)
    ),
    typography: Roboto,
    //la typography è il linguaggio utilizzato per gestire il font.
    density: 0,
    //compatezza della nostra grafica 
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

.dark-body{
  color-scheme: dark;
}
/* You can add global styles to this file, and also import other style files */
.charteuse-theme{

 @include mat.theme((
    color:mat.$chartreuse_palette,
    typography: Roboto,
    //la typography è il linguaggio utilizzato per gestire il font.
    density: 0,
    //compatezza della nostra grafica 
  ));

}

.orange-theme{

   @include mat.theme((
    color: mat.$orange_palette,
     
      //serve per cambiare il colore (in questo caso del header)
    
    typography: Roboto,
    //la typography è il linguaggio utilizzato per gestire il font.
    density: 0,
    //compatezza della nostra grafica 
  ));

}